@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:display=swap");

:root {
  --font-poppins: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-poppins);
  background: #fefefa;
}

a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
